/*โหมดกลางคืน*/
.dark{
  background-color: #121212;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
/* โหมดกลางวัน */
.light{
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
